@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
}

.mySwiper {
  padding-bottom: 2rem;
}

.swiper-button-prev-custom::after,
.swiper-button-next-custom::after {
  content: none;
}

.swiper-pagination {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

@media (max-width: 640px) {
  .mySwiper {
    padding-bottom: 1.5rem;
  }

}
